<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
</head>
<body>

<div id="app">

    <input type="text" v-model="msg">
    <input type="button" value="发表留言" @click="add_note">

    <ul>
        <li v-for="(note, index) in note" :key="index">
            <span>{{note}}</span> <input type="button" value="删除" @click="del(index)">
        </li>
    </ul>

    <span>留言总数量：{{note.length}}条</span>
    <br><br>
    <input type="button" value="删除所有" v-show="flag" @click="del_all(0, note.length)">

</div>

<script src="../js/vue.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            note: ["精准与否，就是屠宰和手术的区别", "一板一眼，就会滋生弱点", "逃命只是徒劳", "我要你在哪里，就在哪里", "谎言不会伤人，真相才是快刀", "等待会带来丰厚的奖励", "优雅，永不过时", "为仆则忠，为主则殆，这便是道德"],
            msg: "",
            flag: true,
        },
        methods: {
            add_note() {
                let msg = this.msg;
                if (msg) {
                    this.note.unshift(this.msg);
                    this.msg = "";
                    this.flag = true;
                }
            },

            del(index){
                console.log(index);
                this.note.splice(index, 1)
                if (!this.note.length){
                    this.flag = false
                }
            },

            del_all(index, num){
                this.note.splice(index, num)
                this.flag = ! this.flag;
            }
        }
    })
</script>

</body>
</html>